interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-28T22:35:30Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-28T22:35:30Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false, "isHnsEnabled": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-03-01-preview
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/ac1f5e6a-c8b3-47cd-a346-6547e6645b47?monitor=true&api-version=2018-03-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/ac1f5e6a-c8b3-47cd-a346-6547e6645b47?monitor=true&api-version=2018-03-01-preview
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["479473dc-cfef-474c-ba12-cba2854af0f6"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-09-28T22:35:38.5354167Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-09-28T22:35:38.5354167Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-09-28T22:35:38.4572921Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-03-01-preview
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"wi16h6dBE+W9Gwpovt8xcPp9GbmLGLqVsuQTAmR4AQ/ucHO8RTfhc0dCaBEPU/m77c75ea5JS+Fc68Q6rizgmA==","permissions":"FULL"},{"keyName":"key2","value":"59vW6abPLw9MsIHNyvOmrh7z2v8rmW1rYOGD7+Clcd2St1e70wZKcGozEMIN7XonWUZ+yPMhZIoFtmmB3/d+VA==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"location": "westus2", "properties": {"storageAccounts": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}]}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2018-06-01-preview
  response:
    body: {string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"West
        US 2\",\"properties\":{\r\n    \"mediaServiceId\":\"147cc27d-1c60-4fd3-b46a-452531b35fb0\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"commonEncryptionCenc": {"enabledProtocols": {"download":
      false, "dash": false, "hls": true, "smoothStreaming": true}, "clearTracks":
      [{"trackSelections": [{"property": "FourCC", "operation": "Equal", "value":
      "foo"}]}, {"trackSelections": [{"property": "Unknown", "operation": "Unknown",
      "value": "foo"}, {"property": "FourCC", "operation": "Equal", "value": "bar"}]}],
      "contentKeys": {"defaultKey": {"label": "label"}, "keyToTrackMappings": [{"label":
      "je", "policyName": "ckp", "tracks": [{"trackSelections": [{"property": "Unknown",
      "operation": "Unknown", "value": "foo1"}, {"property": "FourCC", "operation":
      "Equal", "value": "bar1"}]}]}, {"label": "je2", "policyName": "demoPolicy15",
      "tracks": [{"trackSelections": [{"property": "FourCC", "operation": "Equal",
      "value": "foo"}]}, {"trackSelections": [{"property": "Unknown", "operation":
      "Unknown", "value": "foo"}, {"property": "FourCC", "operation": "Equal", "value":
      "bar"}]}]}]}, "drm": {"playReady": {"customLicenseAcquisitionUrlTemplate": "playReadyTemplate.foo.bar",
      "playReadyCustomAttributes": "awesomeAttributes"}, "widevine": {"customLicenseAcquisitionUrlTemplate":
      "widevineTemplate.foo.bar"}}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaServices/ams000003/streamingPolicies/spn000004?api-version=2018-06-01-preview
  response:
    body: {string: "{\r\n  \"name\":\"spn000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/streamingPolicies/spn000004\",\"type\":\"Microsoft.Media/mediaservices/streamingPolicies\",\"properties\":{\r\n
        \   \"created\":\"2018-09-28T22:36:07.9807137Z\",\"commonEncryptionCenc\":{\r\n
        \     \"enabledProtocols\":{\r\n        \"download\":false,\"dash\":false,\"hls\":true,\"smoothStreaming\":true\r\n
        \     },\"clearTracks\":[\r\n        {\r\n          \"trackSelections\":[\r\n
        \           {\r\n              \"property\":\"FourCC\",\"operation\":\"Equal\",\"value\":\"foo\"\r\n
        \           }\r\n          ]\r\n        },{\r\n          \"trackSelections\":[\r\n
        \           {\r\n [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkczRUFKT0xMTUVWT1ZSSjQzUU1ENldJWDVPSVhVNVFYTTdXQXwyOTk1QTA2REMzQTI5ODlFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
