interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-05T23:04:52Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-05T23:04:52Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false, "isHnsEnabled": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-03-01-preview
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/6046afe8-b27a-42ad-9915-646f8e36658f?monitor=true&api-version=2018-03-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/6046afe8-b27a-42ad-9915-646f8e36658f?monitor=true&api-version=2018-03-01-preview
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["479473dc-cfef-474c-ba12-cba2854af0f6"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-09-05T23:05:00.9385898Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-09-05T23:05:00.9385898Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-09-05T23:05:00.7510916Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-03-01-preview
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"GbgOoSsMgJ/BFJ4Q6IeYyCuYyAyrLhT0RDY0e3hD4Cz8pBqpumXw8BLS9PJP1SGpDyU2UC2DxV87voC0as/3IA==","permissions":"FULL"},{"keyName":"key2","value":"XisRaJy4/AC8fcagWQl8ZPT4vri48XgjA/3w4i5gAC6bcwTCggBlwit2oXfyOexsFastOUSb9txIohY4xOMwKA==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"location": "westus2", "properties": {"storageAccounts": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}]}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2018-06-01-preview
  response:
    body: {string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"West
        US 2\",\"properties\":{\r\n    \"mediaServiceId\":\"e7d5a1a7-6446-44f5-9cbf-a820f4346e9e\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "West US 2", "properties": {"accessControl": {}, "cdnEnabled":
      false, "crossSiteAccessPolicies": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/streamingEndpoints/strep000004?api-version=2018-06-01-preview
  response:
    body: {string: "{\r\n  \"name\":\"strep000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/streamingendpoints/strep000004\",\"type\":\"Microsoft.Media/mediaservices/streamingEndpoints\",\"location\":\"West
        US 2\",\"tags\":{\r\n    \r\n  },\"properties\":{\r\n    \"description\":\"\",\"scaleUnits\":0,\"availabilitySetName\":null,\"cdnEnabled\":false,\"cdnProvider\":null,\"cdnProfile\":\"\",\"maxCacheAge\":null,\"customHostNames\":[\r\n
        \     \r\n    ],\"accessControl\":{\r\n      \"akamai\":null,\"ip\":null\r\n
        \   },\"crossSiteAccessPolicies\":{\r\n      \"clientAccessPolicy\":null,\"crossDomainPolicy\":null\r\n
        \   },\"hostName\":\"strep000004-ams000003-usw22.streaming.media.azure.net\",\"freeTrialEndTime\":\"0001-01-01T00:00:00Z\",\"provisioningState\":\"InProgress\",\"resourceState\":\"Stopped\",\"created\":\"2018-09-05T23:05:34.1220865Z\",\"lastModified\":\"2018-09-05T23:05:34.1220865Z\"\r\n
        \ }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/streamingendpointoperations/9da744ab-d523-44e9-91d0-ac424bfe97ae?api-version=2018-06-01-preview']
      content-type: [application/json; odata.metadata=minimal]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/streamingendpointoperations/9da744ab-d523-44e9-91d0-ac424bfe97ae?api-version=2018-06-01-preview']
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/streamingendpointoperations/9da744ab-d523-44e9-91d0-ac424bfe97ae?api-version=2018-06-01-preview
  response:
    body: {string: "{\r\n  \"name\":\"9da744ab-d523-44e9-91d0-ac424bfe97ae\",\"status\":\"Succeeded\",\"error\":{\r\n
        \   \"code\":\"None\",\"message\":null,\"target\":\"1a2e7e06-8cae-4279-b8f7-877db7cd7c7e\"\r\n
        \ }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/streamingendpointoperations/9da744ab-d523-44e9-91d0-ac424bfe97ae?api-version=2018-06-01-preview']
      content-type: [application/json; odata.metadata=minimal]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/streamingendpointoperations/9da744ab-d523-44e9-91d0-ac424bfe97ae?api-version=2018-06-01-preview']
      odata-version: ['4.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/streamingEndpoints/strep000004/start?api-version=2018-06-01-preview
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/streamingendpointoperations/666c98b3-57a2-4127-926a-95b6a4343d2d?api-version=2018-06-01-preview']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/streamingendpointoperations/666c98b3-57a2-4127-926a-95b6a4343d2d?api-version=2018-06-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdCVFBUVlhRSVkyQkZLTVBMUFJIM0RJTkJHQTRYTE5HV0NNS3wzRUE5RUYyODhBMTk3MTNFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14998']
    status: {code: 202, message: Accepted}
version: 1
