interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-07-31T19:43:22Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-07-31T19:43:22Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rgodzp4tr3pqypx4ojul4n2dokeoy42in457ter6dgoqfsdqohwls6op2blfwvl44uh/providers/Microsoft.Media/mediaservices/ams7kcloaiyn/liveeventoperations/033f83b4-aa56-46be-9435-85c93d6f8c2a?api-version=2018-06-01-preview
  response:
    body: {string: "{\r\n  \"name\":\"033f83b4-aa56-46be-9435-85c93d6f8c2a\",\"status\":\"Succeeded\",\"error\":{\r\n
        \   \"code\":\"None\",\"message\":null,\"target\":\"9511a3c2-c8d2-4210-a201-baf402ea976d\"\r\n
        \ }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rgodzp4tr3pqypx4ojul4n2dokeoy42in457ter6dgoqfsdqohwls6op2blfwvl44uh/providers/Microsoft.Media/mediaservices/ams7kcloaiyn/liveeventoperations/033f83b4-aa56-46be-9435-85c93d6f8c2a?api-version=2018-06-01-preview']
      content-type: [application/json; odata.metadata=minimal]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rgodzp4tr3pqypx4ojul4n2dokeoy42in457ter6dgoqfsdqohwls6op2blfwvl44uh/providers/Microsoft.Media/mediaservices/ams7kcloaiyn/liveeventoperations/033f83b4-aa56-46be-9435-85c93d6f8c2a?api-version=2018-06-01-preview']
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: '{"error":{"innererror":{"trace":"System.Threading.Tasks.TaskCanceledException:
        A task was canceled.\r\n   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task
        task)\r\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at Microsoft.WindowsAzure.ResourceProvider.GatewayService.GatewayMessageHandler.<SendByHttpClientAsync>d__20.MoveNext()\r\n---
        End of stack trace from previous location where exception was thrown ---\r\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task
        task)\r\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()\r\n   at
        Microsoft.WindowsAzure.ResourceProvider.GatewayService.GatewayMessageHandler.<ForwardRequestWithRetry>d__19.MoveNext()"},"code":"ServiceUnavailable","message":"The
        service is unavailable now. Please retry the request later."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [service]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 503, message: Service Unavailable}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdPVEozNUJIVU5XTERCSUdTVjdYVVNXS1NZSFVFRUJHUE81S3w4NzI5OTM3QzFDODNDNjBCLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14997']
    status: {code: 202, message: Accepted}
version: 1
